body {
    font-family: Roboto, sans-serif;
    margin : 0;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 8px 100px;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

#logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.content1{
    display: flex;
    padding: 60px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    gap : 20px;
    flex-shrink: 1;
}
.content1 .right{
    flex-shrink: 2;
}
.content1 .left{
    display: flex;
    flex-direction: column;
    gap : 10px;
}

#beige-car{
    width: 500px;
    height: 300px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
}
button.first {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
}

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap : 30px;
}

.categories{
    display: flex;
    justify-content: space-around;
    gap : 30px;
}

.main-text2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.categorie{
    text-align: center;
    color: #1F2937;
}

.categories img{
    border-radius: 25px;
    border: 2px solid #2376f3;
    padding: 0;
    width: 170px;
    height: 150px;
}

.content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
    background-color: #E5E7EB;
    font-style:  italic;
    color: #1F2937;
    font-size: 20px;
}

#quote-teller{
    align-self: flex-end;
    font-weight: 600;
}

.content4{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 25px;
    margin: 50px 100px;
    padding: 40px;
    gap : 30px;
    color: #F9FAF8;
}
.content4 button{
    background: #3882F6;
    border: 1px solid white;
    color: white;
}

.content4 .action{
    font-weight: bold;
    font-size: 20px;
}

.content4 .text{
    font-size: 14px;
}

.footer{
    background-color: #1F2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}